sudo: false
language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  #- "pypy"
  #- "pypy3"
env:
  - DJANGO="Django<1.8"
  - DJANGO="Django<1.9"
  - DJANGO="Django<1.10"
  - DJANGO="Django<1.11"
  - DJANGO="Django<1.12"

matrix:
  exclude:
    - env: DJANGO="Django<1.8"
      python: "3.5"
    - env: DJANGO="Django<1.8"
      python: "3.6"
    - env: DJANGO="Django<1.10"
      python: "3.3"
    - env: DJANGO="Django<1.11"
      python: "3.3"
    - env: DJANGO="Django<1.12"
      python: "3.3"

install:
  - pip install -q $DJANGO
  - pip install -r requirements.txt
script:
  - python runtests.py
