sudo: false
language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"
  - "pypy3"
env:
  - DJANGO="Django<1.8"
  - DJANGO="Django<1.9"

install:
  - pip install -q $DJANGO
  - pip install -r requirements.txt
script:
  - python runtests.py

before_script:
  - sh -c "if [ '$DJANGO' = 'Django<1.5' -o '$DJANGO' = 'Django<1.6' ]; then pip install django-discover-runner; fi"
