language: python
python:
  - "2.6"
  - "2.7"
env:
  - DJANGO='Django>=1.4,<1.6'
install:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install -q ordereddict --use-mirrors; fi
  - pip install -q Django==$DJANGO --use-mirrors
  - pip install -r requirements.txt --use-mirrors
script:
  - python tests/manage.py test polls --settings=settings
