sudo: false
language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  #- "pypy"
  #- "pypy3"
env:
  - DJANGO="Django<1.8"
  - DJANGO="Django<1.9"
  - DJANGO="Django<1.10"

install:
  - pip install -q $DJANGO
  - pip install -r requirements.txt
script:
  - python runtests.py
